.u-center-text {
  text-align: center;
}

.u-magin-bottom-8 {
  margin-bottom: 8rem;
}

.u-magin-bottom-4 {
  margin-bottom: 4rem;
}

.u-magin-bottom-2 {
  margin-bottom: 2rem;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}